  body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eae5e5;
  margin: 0;
  padding: 20px;
  }

  header {
    background-color: black;
    width: 100%;
    height: max-content;
    margin: -10px;
    padding: 5px;
    display: flex;
    text-align: center;
  }

  header .bi h1 {
      font-size: 19px;
      color: white;
      font-weight: 50;
  }

  header .bi img{
    width: 100px;
    height: 100px;
    border-radius: 68px;
  
  }

  header nav {
    margin-left: auto;
    margin-right: 20px;
    height: max-content;
    width: auto;
  }
  
  header nav ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }

  header nav ul li {
  margin: 0 15px;
 
}

header nav ul li a{
  text-decoration: none;
  color: silver;
  font-size: 20px;
  margin-left:20px;
}

header nav ul li:hover a{
  color: sandybrown;
  background: orangered;
  font-size: 40px;
  border-radius: 10px;
}

main {
 margin-top: 20px;
 padding: 20px;
 border-radius: 20px;
}